<section class="special-area bg-white section_padding_150_50" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>FaceID Admin Page</h2>
 
                    <div class="line-shape"></div>
                </div>

                <div class="special_description_content text-center">
                    <h2>You are logged as {{user}}</h2>
                    <div>
                        <p>FaceID confidence is {{confidence}}</p>
                    </div>
                </div>

                <div class="special_description_content text-center">
                    <div>
                        <p>Here you can manage the website</p>
                    </div>
                </div>

                 
                    <div class="webcam-frame">
    
                           <div id="my_camera"></div> 
    
                    </div>
     
             
            </div>
        </div>

         
    </div>
</div>
 